body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #252525;
    padding: 20px;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #444;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: #333;
}

button.operator, button.function {
    background-color: #f0ad4e;
}

button.equal-sign {
    background-color: #d9534f;
    grid-column: span 2;
}

button.all-clear {
    background-color: #5bc0de;
}

button:hover {
    background-color: #666;
}

button:active {
    background-color: #999;
}
